{% extends "home/base.html" %}

{% block head_content %}
    <title>Home - OJOS</title>
{% endblock %}

{% block body_content %}
    {% load static %}
    {% include 'home/navbar.html' %}
    <main class="page landing-page">
        <section class="clean-block clean-info dark" style="padding: 50px 0 50px 0;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col mx-auto">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-xl-8">
                                <h1 class="text-primary">Your parents' 24/7 watchman</h1>
                                <div class="getting-started-info">
                                    <p class="text-secondary" style="font-size: 19px;color: #444444;">Meet OJOS, the service that helps you take better care of your parents. <strong>OJOS connects to the cameras at your parents' home and alerts you in real time about critical events, using cutting edge computer vision technology.</strong></p>
                                </div><a class="btn btn-primary btn-lg" role="button" href="{% url 'home:login' %}">Join Now</a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4"><img class="img-thumbnail" src="{% static 'home/img/app.png' %}"
                                                        style="height: 510px;border-style: none;background-color: rgba(255,255,255,0);" alt="demo">
                    </div>
                </div>
            </div>
        </section>
{#        <section class="clean-block features">#}
{#            <div class="container text-center" id="learn-more">#}
{#                <div class="block-heading">#}
{#                    <h2 class="text-info">Pricing</h2>#}
{#                </div>#}
{#                <div class="row justify-content-around align-items-center">#}
{#                    <div class="col-xl-5">#}
{#                        <p class="text-center" style="color: #000000;font-size: 23px;"><strong>Join OJOS and get more peace of mind from as little#}
{#                            as</strong></p>#}
{#                        <h2 class="text-center text-primary" style="font-size: 72px;"><strong>$1 </strong>/<strong> </strong>Day</h2>#}
{#                    </div>#}
{#                    <div class="col-xl-5" style="margin: 10px;">#}
{#                        <div style="padding: 10px;">#}
{#                            <div class="d-flex"><i class="fa fa-warning icon" style="font-size: 28px;padding: 0 10px;color: rgb(59,153,224);"></i>#}
{#                                <h4 class="text-left">Alerts that matter&nbsp;</h4>#}
{#                            </div>#}
{#                            <p class="text-left" style="padding: 0 10px 10px;">Falling, violence, an outside caregiver leaving the parents alone, and#}
{#                                many more. OJOS is looking for the things you truly care about.</p>#}
{#                        </div>#}
{#                        <div style="padding: 10px;">#}
{#                            <div class="d-flex"><i class="fa fa-clock-o icon" style="font-size: 28px;padding: 0 10px;color: rgb(59,153,224);"></i>#}
{#                                <h4 class="text-left">Always in real time</h4>#}
{#                            </div>#}
{#                            <p class="text-left" style="padding: 0 10px 10px;">In the case of a critical event every second matters. With OJOS you#}
{#                                will be there when they need you most.</p>#}
{#                        </div>#}
{#                        <div style="padding: 10px;">#}
{#                            <div class="d-flex"><i class="fa fa-camera icon" style="font-size: 28px;padding: 0 10px;color: rgb(59,153,224);"></i>#}
{#                                <h4 class="text-left">Works with all IP cameras</h4>#}
{#                            </div>#}
{#                            <p class="text-left" style="padding: 0 10px 10px;">OJOS can connect to any IP camera, no need to purchase any expensive#}
{#                                hardware.</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div><a class="btn btn-primary btn-lg" role="button" href="{% url 'home:login' %}">Join Now</a></div>#}
{#        </section>#}
    </main>
{% endblock %}