{% url 'home:index' as home_url %}
{% url 'home:contact' as contact_url %}
{% url 'home:login' as login_url %}
{% url 'home:register' as register_url %}

<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="{% url 'home:index' %}"><i class="far fa-eye" style="font-size: 22px;"></i>JOS</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link {% if request.path == home_url %} active {% endif %}" href="{% url 'home:index' %}">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link {% if request.path == contact_url %} active {% endif %}" href="{% url 'home:contact_form' %}">Contact Us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link {% if request.path == login_url %} active {% endif %}" href="{% url 'home:login' %}">Dashboard</a></li>
            </ul>
        </div>
    </div>
</nav>