{% extends "home/base.html" %}

{% block head_content %}
    <title>Login - OJOS</title>
{% endblock %}

{% block body_content %}
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="{% url 'home:index' %}"><i class="far fa-eye" style="font-size: 22px;"></i>JOS</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home:index' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home:contact' %}">Contact Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'home:login' %}">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page login-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Log In</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <form method="post" action="{% url 'home:login' %}">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    {{ form.non_field_errors }}
                    <div class="form-group"><label for="email">Email</label>
                        {% render_field form.username class+="form-control item" %}
                    </div>
                    <div class="form-group"><label for="password">Password</label>
                        {% render_field form.password class+="form-control" %}
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Log In</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}