{% extends "home/base.html" %}

{% block head_content %}
    <title>Password Reset - OJOS</title>
{% endblock %}

{% block body_content %}
    {% include 'home/navbar.html' %}
    <main class="page login-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Reset your password</h2>
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>#}
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    <div class="isa_info"><i class="fa fa-info-circle"></i>{{ form.new_password1.help_text }}</div>
                    <div class="form-group"><label for="password1">New Password</label>
                        {% render_field form.new_password1 class+="form-control" %}
                    </div>
                    <div class="form-group"><label for="password2">Confirm New Password</label>
                        {% render_field form.new_password2 class+="form-control" %}
                        {% if form.new_password2.errors %}
                            <div class="isa_error">{{ form.new_password2.errors }}</div>
                        {% endif %}
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}