{% extends "home/base.html" %}

{% block head_content %}
    <title>Password reset complete - OJOS</title>
{% endblock %}

{% block body_content %}
    {% include 'home/navbar.html' %}
    <main class="page login-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Your new password has been set.</h2>
                    <p>You may go ahead and <a href="{% url 'home:login' %}">log in</a> now.</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}