{% extends "home/base.html" %}

{% block head_content %}
    <title>Forgotten Password - OJOS</title>
{% endblock %}

{% block body_content %}
    {% include 'home/navbar.html' %}
    <main class="page login-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Forgot Password?</h2>
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>#}
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    {% if form.errors %}
                        <div class="isa_error">
                            <i class="fa fa-times-circle"></i>
                            Email does not exist.
                        </div>
                    {% endif %}
                    <div class="form-group"><label for="email">Email</label>
                        {% render_field form.email class+="form-control item" %}
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                    <hr>
                    <div class="text-center"><a href="{% url 'home:register' %}">Create an account</a></div>
                    <div class="text-center"><a href="{% url 'home:login' %}">Already have an account? Login</a></div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}