{% extends "home/base.html" %}

{% block head_content %}
    <title>Register - OJOS</title>
{% endblock %}

{% block body_content %}
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#"><i class="far fa-eye" style="font-size: 22px;"></i>JOS</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home:index' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="../home/contact-us.html">Contact Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="login.html">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Registration</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    {{ form.non_field_errors }}
                    {{ form.first_name.errors }}
                    <div class="form-group"><label for="name">First Name</label>
                        {% render_field form.first_name class+="form-control" %}
{#                        <input class="form-control item" type="text" id="name"></div>#}
                    {{ form.last_name.errors }}
                    <div class="form-group"><label for="name">First Name</label>
                        {% render_field form.last_name class+="form-control" %}
{#                        <input class="form-control item" type="text" id="name"></div>#}
                    {{ form.email.errors }}
                    <div class="form-group"><label for="email">Email</label>
                        {% render_field form.email class+="form-control" %}
{#                        <input class="form-control item" type="email" id="email"></div>#}
                    {{ form.password1.errors }}
                    <div class="form-group"><label for="password">Password</label>
                        {% render_field form.password1 class+="form-control" %}
{#                        <input class="form-control item" type="password" id="password">#}
                    </div>
                    {{ form.password2.errors }}
                    <div class="form-group"><label for="password">Password confirmation</label>
                        {% render_field form.password2 class+="form-control" %}
{#                        <input class="form-control item" type="password" id="password">#}
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}