{% extends "home/base.html" %}

{% block head_content %}
    <title>Register - OJOS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{% endblock %}

{% block body_content %}
    {% include 'home/navbar.html' %}
    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Registration</h2>
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>#}
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    {{ form.non_field_errors }}
                    <div class="form-group"><label for="name">First Name</label>
                        {% render_field form.first_name class+="form-control" %}
                        {% if form.first_name.errors %}
                            <div class="isa_error">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group"><label for="name">First Name</label>
                        {% render_field form.last_name class+="form-control" %}
                        {% if form.last_name.errors %}
                            <div class="isa_error">{{ form.last_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group"><label for="email">Email</label>
                        {% render_field form.email class+="form-control" %}
                        {% if form.email.errors %}
                            <div class="isa_error">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group"><label for="country" style="width: 100%;">Country</label>
                        {% render_field form.country class+="form-control" style="width: 75%; display: inline-block;" %}
                        {% if form.country.errors %}
                            <div class="isa_error">{{ form.country.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group"><label for="phone_number">Phone number</label>
                        {% render_field form.phone_number class+="form-control" %}
                        {% if form.phone_number.errors %}
                            <div class="isa_error">{{ form.phone_number.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group"><label for="password1">Password</label>
                        {% render_field form.password1 class+="form-control" %}
                        {% if form.password1.errors %}
                            <div class="isa_error">{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group"><label for="password2">Password confirmation</label>
                        {% render_field form.password2 class+="form-control" %}
                        {% if form.password2.errors %}
                            <div class="isa_error">{{ form.password2.errors }}</div>
                        {% endif %}
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                    <hr/>
                    <div class="text-center"><a href="{% url 'home:password_reset' %}">Forgot Password?</a></div>
                    <div class="text-center"><a href="{% url 'home:login' %}">Already have an account? Login</a></div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}