{% load widget_tweaks %}

<form method="post" action="">
    {% csrf_token %}

    <div class="modal-header">
        <h4 class="modal-title text-primary">Generate Report</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>

    <div class="modal-body">
        <div class="form-group"><label>Select a date:</label>
            {% render_field form.day class+="form-control" %}
            {% if form.day.errors %}
                <div class="isa_error {% if form.day.errors %} invalid {% endif %}">{{ form.day.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
        <button class="submit-btn btn btn-primary" type="button">Generate</button>
    </div>
</form>