{% extends "app/base.html" %}

{% block head_content %}
    <title>OJOS - Profile</title>
    <meta name="description" content="The OJOS user dashboard - letting you change settings, view logs, and manage cameras.">
{% endblock %}

{% block body_content %}
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand logo" href="/"
                   style="font-family: Montserrat, sans-serif;font-size: 24px;padding-top: 24px;padding-bottom: 24px;padding-right: 16px;padding-left: 16px;">
                    <i class="far fa-eye" style="font-size: 23px;"></i>JOS</a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'app:profile' %}"><i
                            class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'app:events' %}"><i
                            class="fas fa-list-ul"></i><span>Events History</span></a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="configurations.html"><i
                            class="fas fa-door-open"></i><span>Log out</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4" style="margin-top: 1.5rem;">Profile</h3>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 font-weight-bold">User Settings</p>
                                </div>
                                <div class="card-body">
                                    {% load widget_tweaks %}
                                    <form method="post">{% csrf_token %}
                                        {{ form.non_field_errors }}
                                        <div class="form-row">
                                            <div class="col">
                                                {{ form.first_name.errors }}
                                                <div class="form-group"><label for="first_name"><strong>First Name</strong></label>
                                                    {% render_field form.first_name class+="form-control" %}
                                                </div>
                                            </div>
                                            <div class="col">
                                                {{ form.last_name.errors }}
                                                <div class="form-group"><label for="last_name"><strong>Last Name</strong></label>
                                                    {% render_field form.last_name class+="form-control" %}
                                                </div>
                                            </div>
                                        </div>
                                        {{ form.email.errors }}
                                        <div class="form-group"><label for="city"><strong>Email</strong></label>
                                            {% render_field form.email class+="form-control" %}
                                        </div>
                                        {{ form.phone.errors }}
                                        <div class="form-group"><label for="country"><strong>Phone</strong></label>
                                            {% render_field form.phone class+="form-control" %}
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-sm" type="submit">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © OJOS 2020</span></div>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}
