{% extends "app/base.html" %}

{% block head_content %}
    <title>OJOS - Profile</title>
    <meta name="description" content="The OJOS user dashboard - letting you change settings, view logs, and manage cameras.">
{% endblock %}

{% block body_content %}
    <h3 class="text-dark mb-4" style="margin-top: 1.5rem;">Profile</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row mb-3">
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">User Settings</p>
                </div>
                <div class="card-body">
                    <div>
                        <div class="row text-center align-items-center">
                            <div class="col text-left">
                                <p style="margin: 0;"><strong>Name:</strong></p>
                                <p>{{ user.get_full_name }}</p>
                            </div>
                            <div class="col text-left">
                                <p style="margin: 0;"><strong>Email:</strong></p>
                                <p>{{ user.email }}</p>
                            </div>
                            <div class="col text-left">
                                <p style="margin: 0;"><strong>Phone number:</strong></p>
                                <p>{{ user.phone_number }}</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" id="update_user_info" type="button">Make Changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Cameras</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>App</th>
                                <th>Location</th>
                                <th class="text-center">Update</th>
                                <th class="text-center">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for camera in user_cameras %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ camera.app }}</td>
                                    <td>{{ camera.get_location }}</td>
                                    <td class="text-center">
                                        <!-- Update camera button -->
                                        <button type="button" id="update-camera" class="bs-modal btn btn-sm btn-primary"
                                                data-form-url="{% url 'app:update_camera' camera.pk %}">
                                            <span class="fa fa-pencil"></span>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <!-- Delete camera buttons -->
                                        <button type="button" id="delete-camera" class="bs-modal btn btn-sm btn-danger"
                                                data-form-url="{% url 'app:delete_camera' camera.pk %}">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <button class="btn btn-primary" type="button" name="button" id="add_camera">Add camera</button>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-success" type="button">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            $("#update_user_info").modalForm({
                formURL: "{% url 'app:update_profile' user.pk %}"
            });

            $("#add_camera").modalForm({
                formURL: "{% url 'app:add_camera' %}"
            });

            $(".bs-modal").each(function () {
                $(this).modalForm({
                    formURL: $(this).data('form-url')
                });
            });

        });
    </script>
{% endblock %}